# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/short-url

# Server Port
PORT=8001

# Allowed Frontend URL for CORS
CLIENT_URL=http://localhost:5173
